@using SayMyName.Core
@{
    ViewBag.Title = "Snippet";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Use this snippet</title>
</head>
	<body>
		
		@*		
		<script type="text/javascript" async>
			jQuery(function () {
				jQuery.getScript("@Constants.RootUrl/scripts/jquery.signalR-1.0.0-rc2.min.js", function () { 
					jQuery.getScript("@Constants.RootUrl/signalr/hubs", function () { 
						jQuery.getScript("@Constants.RootUrl/scripts/clientstartup.js", function () { 
							SayMyName.Listener.start(SayMyName.Fingerprint.get()); 
						});
					});
				});
			});
		</script>
		http://www.htmlescape.net/htmlescape_tool.html
		*@

		<pre>
		<code>

		&lt;script type=&quot;text/javascript&quot; async&gt;<br/>			jQuery(function () {<br/>				jQuery.getScript(&quot;@Constants.RootUrl/scripts/jquery.signalR-1.0.0-rc2.min.js&quot;, function () { <br/>					jQuery.getScript(&quot;@Constants.RootUrl/signalr/hubs&quot;, function () { <br/>						jQuery.getScript(&quot;@Constants.RootUrl/scripts/clientstartup.js&quot;, function () { <br/>							SayMyName.Listener.start(SayMyName.Fingerprint.get()); <br/>						});<br/>					});<br/>				});<br/>			});<br/>		&lt;/script&gt;
		</code>
	</pre>
	</body>
</html>